VITE_FIREBASE_API_KEY=AIzaSyB0vR_uVzadv3Ppjj0GNqXjOFuQKnP6fgk
VITE_FIREBASE_AUTH_DOMAIN=elosusgrupos.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=elosusgrupos
VITE_FIREBASE_STORAGE_BUCKET=elosusgrupos.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=257423216168
VITE_FIREBASE_APP_ID=1:257423216168:web:370b3675515bf2a8f86f1d